.gray-bg { --background: #ffffff; } // Fondo blanco para que resalten las cards

.custom-toolbar {
  --background: #1e1e1e;
  --color: white;
  --border-width: 0;
  
  ion-title {
    font-weight: 800;
    font-size: 1.1rem;
  }
}

.btn-nueva {
  --color: #3880ff;
  font-weight: 700;
  font-size: 0.85rem;
}

.header-text {
  margin: 40px 0;
  text-align: left;
  .main-title {
    color: #071739;
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
  .sub-title {
    color: #888;
    font-size: 1rem;
  }
}

/* LA TARJETA ESTILO MEDICIÓN */
.escuela-card-dark {
  background: #1e1e1e; // Gris casi negro
  border-radius: 25px;
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s ease;

  &:active { transform: scale(0.98); }

  .card-icon {
    background: #f0f2f5;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    ion-icon {
      font-size: 1.8rem;
      color: #071739;
    }
  }

  .card-info {
    .escuela-name {
      color: #3880ff; // Azul brillante para el nombre
      font-weight: 800;
      font-size: 1.2rem;
      margin: 0;
      word-break: break-word;
    }
    .escuela-action {
      color: #a0a0a0;
      margin: 5px 0 0 0;
      font-size: 0.9rem;
    }
  }
}

.responsive-container {
  max-width: 900px;
  margin: 0 auto;
}