<ion-header class="ion-no-border">
  <ion-toolbar class="custom-toolbar">
    <ion-title>Estudio Gradu {{ isPC ? '• Administrador' : '• Staff' }}</ion-title>
    <ion-buttons slot="end" *ngIf="isPC">
      <ion-button (click)="irAMedicion()" class="btn-nueva">
        NUEVA ESCUELA
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gray-bg">
  <div class="responsive-container">
    
    <div class="header-text">
      <h1 class="main-title">Logística de Eventos</h1>
      <p class="sub-title">Revisa la logística de tus próximos eventos.</p>
    </div>

    <div class="cards-grid">
      <div *ngFor="let evento of (escuelas$ | async)" class="escuela-card-dark"
           [class.clickable]="isPC"
           (click)="isPC ? verDetalleEscuela(evento.escuelaNombre) : null">
  
        <div class="card-header">
          <div class="info-box">
            <h2 class="escuela-name">{{ evento.escuelaNombre }}</h2>
            <p class="tap-hint" *ngIf="isPC">Ver detalles y alumnos →</p>
          </div>
        </div>

        <div class="divider"></div>

        <div class="info-grid">
          <div class="info-row">
            <span class="label">Día:</span>
            <span class="value">{{ evento.fechaEvento ? (evento.fechaEvento | date:"EEEE, d 'De' MMMM":"":"es") : 'Pendiente' }}</span>
          </div>

          <div class="info-row">
            <span class="label">Hora:</span>
            <span class="value">{{ evento.horaEvento || '07:00' }} Hrs</span>
          </div>

          <div class="info-row">
            <span class="label">Lugar:</span>
            <span class="value">{{ evento.lugarEvento || 'UTC' }}</span>
          </div>

          <div class="info-row">
            <span class="label">Ubic. :</span>
            <span class="value">{{ evento.direccionLugar || 'Parque Industrial' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>